footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  
  
  .footer-section h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  ul li a{
    cursor: pointer;
    transition: .3s;
  }
  
  ul li a:hover {
    color: orange;
  }

  .footer-section p {
    font-size: 0.9em;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section li {
    margin-bottom: 8px;
  }
  
  .footer-bottom {
    background-color: #222;
    text-align: center;
    padding: 10px 0;
  }
  
  .footer-bottom p {
    margin: 0;
    font-size: 0.8em;
  }

  .footer-section {
    flex: 1 1 300px;
    margin: 1em 2em;
    text-align: center;
}

.footer-section .newsletter-form {
    margin-top: 1em;
}

.footer-section .newsletter-form input {
    padding: 10px;
    margin-right: 5px;
    width: 20%;
    border-radius: 5px;
}

.footer-section .newsletter-form button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--accent-color);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.footer-section .newsletter-form button:hover {
    background-color: #ffcc00;
}

  
  /* Media Queries */
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-section {
      flex: 1 1 100%;
      text-align: center;
    }

    .footer-section .newsletter-form {
      margin-top: 1em;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .footer-section .newsletter-form input {
      padding: 10px;
      margin-right: 5px;
      margin-bottom: 10px;
      width: 80%;
      border-radius: 5px;
  }
  
  .footer-section .newsletter-form button {
      padding: 10px 20px;
      border-radius: 5px;
      background-color: var(--accent-color);
      color: #fff;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease;
  }

  }
  