<section class="hero">
    <div class="hero-content">
      <h1>Try your luck and win Bitcoin!</h1>
      <p>Welcome to the true lottery of freedom.</p>
      <a routerLink="/buy-ticket" class="cta-button">Buy a Ticket</a>
    </div>
</section>
  
<section class="features">
    <div class="feature">
      <h2>Bitcoin Only</h2>
      <p>Participate in the lottery using the true freedom money for a seamless and secure experience.</p>
    </div>
  
    <div class="feature">
      <h2>Weekly Drawings</h2>
      <p>Exciting weekly drawings with chances to win big prizes.<br /> Don't miss out!</p>
    </div>
  
    <div class="feature">
      <h2>Easy to Play</h2>
      <p>Simple and user-friendly interface. Play your favorite numbers in a few clicks.</p>
    </div>
</section>


<section class="explanation-section">
  <div class="explanation-content">
    <h2>How It Works</h2>
    <p>Participating in the Bitcoin Lottery is quick and easy:</p>
    <ol>
      <li>Choose your lucky numbers from 1 to 100.</li>
      <li>Complete the purchase securely with Bitcoin.</li>
      <li>Wait for the weekly drawing to see if you're a winner!</li>
    </ol>
  </div>
</section>

<section class="cta-section">
  <div class="cta-content">
    <h2>Join the freedom revolution!</h2>
    <p>Take a chance and be part of the Bitcoin revolution.<br /> Purchase your ticket now for a shot at exciting prizes.</p>
    <a routerLink="/buy-ticket" class="cta-button">Get Started</a>
  </div>
</section>
  
  
  
